{{ define "main" }}

<h1 class="post-title">{{ .Title }}</h1>
{{ if .Date }}
<time>{{ .Date.Format "January 2, 2006" }}</time>
<div class="post-md5">
    <span class="post-md5-string">{{ md5 .Content }}</span>
    <span class="post-md5-explanation">
        (<a href="https://www.kalzumeus.com/essays/dropping-hashes/#how-do-you-verify-a-dropped-hash">what is this?</a>)
    </span>
</div>
{{ end }}   
<div>
    <p>
        {{ .Content }}
    </p>
</div>
{{ template "_internal/disqus.html" . }}

{{ if .Site.Params.enableKofi }}

<script async type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
<script async type='text/javascript'>
    const kofiId = '{{ .Site.Params.Kofi }}';
    kofiwidget2.init('Support Me on Ko-fi', '#29abe0', kofiId);
    kofiwidget2.draw();
</script>

{{ end }}

<div class="page-footer">
    {{if .Params.tags}}
    <hr class="footer-divider">
    {{ range .Params.tags }}
    <a class="tag" href="/tags/{{ . | urlize }}">#{{.}}</a>
    {{ end }}
    {{ end }}

<script async src="https://utteranc.es/client.js" repo="hiAndrewQuinn/aqdm" issue-term="pathname" theme="boxy-light" crossorigin="anonymous" async>
</script>
</div>

{{end}}